
@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform-origin: 50% 50%;
    }
    to {
        -webkit-transform: rotate(359deg);
        transform-origin: 50% 50%;
    }
}

#clock {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    height: 750px;
    margin-top: -375px; /* account for padding and border if not using box-sizing: border-box; */
    margin-left: -375px;
}

#hand {
    stroke-width: 3px;
    // animation: rotation 1s infinite linear;
}

#texts {
    fill: white;
    text-anchor: middle;

    .number { 
        font: bold 130px sans-serif; 
    }

    .name { 
        font: normal 80px sans-serif; 
    }

    .detail { 
        font: normal 35px sans-serif;
    }

}