doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", type="text/css", href="static/css/zeus-noon.css")
        script(src="//code.jquery.com/jquery-3.3.1.min.js")
        script(src="//cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js")
        script(src="static/js/humanize.js")        
        script(src="static/js/zeus-noon.js")

    body
        svg#clock(viewBox="0 0 1000 1000")
            defs
                radialGradient#myGradient1
                    stop(offset="20%", stop-color="black", stop-opacity="0")
                    stop(offset="100%" stop-color="black", stop-opacity="0.5")

            defs
                linearGradient#myGradient2(x1="0%", y1="0%", x2="0%", y2="100%")
                    stop(offset="0%", stop-color="black", stop-opacity="0.1")
                    stop(offset="2%", stop-color="black", stop-opacity="0.1")
                    stop(offset="2%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="4%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="4%", stop-color="black", stop-opacity="0.1")
                    stop(offset="6%", stop-color="black", stop-opacity="0.1")
                    stop(offset="6%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="8%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="8%", stop-color="black", stop-opacity="0.1")
                    stop(offset="10%", stop-color="black", stop-opacity="0.1")
                    stop(offset="10%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="12%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="12%", stop-color="black", stop-opacity="0.1")
                    stop(offset="14%", stop-color="black", stop-opacity="0.1")
                    stop(offset="14%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="16%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="16%", stop-color="black", stop-opacity="0.1")
                    stop(offset="18%", stop-color="black", stop-opacity="0.1")
                    stop(offset="18%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="20%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="20%", stop-color="black", stop-opacity="0.1")
                    stop(offset="22%", stop-color="black", stop-opacity="0.1")
                    stop(offset="22%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="24%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="24%", stop-color="black", stop-opacity="0.1")
                    stop(offset="26%", stop-color="black", stop-opacity="0.1")
                    stop(offset="26%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="28%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="28%", stop-color="black", stop-opacity="0.1")
                    stop(offset="30%", stop-color="black", stop-opacity="0.1")
                    stop(offset="30%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="32%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="32%", stop-color="black", stop-opacity="0.1")
                    stop(offset="34%", stop-color="black", stop-opacity="0.1")
                    stop(offset="34%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="36%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="36%", stop-color="black", stop-opacity="0.1")
                    stop(offset="38%", stop-color="black", stop-opacity="0.1")
                    stop(offset="38%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="40%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="40%", stop-color="black", stop-opacity="0.1")
                    stop(offset="42%", stop-color="black", stop-opacity="0.1")
                    stop(offset="42%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="44%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="44%", stop-color="black", stop-opacity="0.1")
                    stop(offset="46%", stop-color="black", stop-opacity="0.1")
                    stop(offset="46%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="48%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="48%", stop-color="black", stop-opacity="0.1")
                    stop(offset="50%", stop-color="black", stop-opacity="0.1")
                    stop(offset="50%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="52%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="52%", stop-color="black", stop-opacity="0.1")
                    stop(offset="54%", stop-color="black", stop-opacity="0.1")
                    stop(offset="54%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="56%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="56%", stop-color="black", stop-opacity="0.1")
                    stop(offset="58%", stop-color="black", stop-opacity="0.1")
                    stop(offset="58%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="60%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="60%", stop-color="black", stop-opacity="0.1")
                    stop(offset="62%", stop-color="black", stop-opacity="0.1")
                    stop(offset="62%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="64%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="64%", stop-color="black", stop-opacity="0.1")
                    stop(offset="66%", stop-color="black", stop-opacity="0.1")
                    stop(offset="66%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="68%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="68%", stop-color="black", stop-opacity="0.1")
                    stop(offset="70%", stop-color="black", stop-opacity="0.1")
                    stop(offset="70%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="72%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="72%", stop-color="black", stop-opacity="0.1")
                    stop(offset="74%", stop-color="black", stop-opacity="0.1")
                    stop(offset="74%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="76%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="76%", stop-color="black", stop-opacity="0.1")
                    stop(offset="78%", stop-color="black", stop-opacity="0.1")
                    stop(offset="78%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="80%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="80%", stop-color="black", stop-opacity="0.1")
                    stop(offset="82%", stop-color="black", stop-opacity="0.1")
                    stop(offset="82%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="84%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="84%", stop-color="black", stop-opacity="0.1")
                    stop(offset="86%", stop-color="black", stop-opacity="0.1")
                    stop(offset="86%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="88%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="88%", stop-color="black", stop-opacity="0.1")
                    stop(offset="90%", stop-color="black", stop-opacity="0.1")
                    stop(offset="90%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="92%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="92%", stop-color="black", stop-opacity="0.1")
                    stop(offset="94%", stop-color="black", stop-opacity="0.1")
                    stop(offset="94%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="96%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="96%", stop-color="black", stop-opacity="0.1")
                    stop(offset="98%", stop-color="black", stop-opacity="0.1")
                    stop(offset="98%", stop-color="gray", stop-opacity="0.1")
                    stop(offset="100%", stop-color="gray", stop-opacity="0.1")
                   
                                      
            rect#face(x="50", y="50", width="900", height="900", rx="50", ry="50", stroke="black", stroke-width="40")
            rect(x="50", y="50", width="900", height="900", fill="url(#myGradient2)", rx="50", ry="50", stroke="black", stroke-width="40")
            rect(x="50", y="50", width="900", height="900", fill="url(#myGradient1)", rx="50", ry="50", stroke="black", stroke-width="40")
            
            //- line#hand(x1="500", y1="550", x2="500", y2="200")
            
            g#texts
                text.number(x="50%", y="410px")
                text.char(x="50%", y="480px")
                text.name(x="50%", y="580px")
                text.detail(x="50%", y="650px")
            //- g#ticks
                line(x1='250', y1='0', x2='250', y2='100', stroke-width="3")
                //- line(x1='72.50' y1='11.03' x2='70.00' y2='15.36')
                //- line(x1='88.97' y1='27.50' x2='84.64' y2='30.00')
                //- line(x1='95.00' y1='50.00' x2='90.00' y2='50.00')
                //- line(x1='88.97' y1='72.50' x2='84.64' y2='70.00')
                //- line(x1='72.50' y1='88.97' x2='70.00' y2='84.64')
                //- line(x1='50.00' y1='95.00' x2='50.00' y2='90.00')
                //- line(x1='27.50' y1='88.97' x2='30.00' y2='84.64')
                //- line(x1='11.03' y1='72.50' x2='15.36' y2='70.00')
                //- line(x1='5.000' y1='50.00' x2='10.00' y2='50.00')
                //- line(x1='11.03' y1='27.50' x2='15.36' y2='30.00')
                //- line(x1='27.50' y1='11.03' x2='30.00' y2='15.36')


//- <svg xmlns="http://www.w3.org/2000/svg" width="200px" height="200px">
//-   <defs>
//-     <linearGradient id="lgrad" x1="100%" y1="50%" x2="0%" y2="50%">
//-       <stop offset="0" stop-color="black" />
//-       <stop offset="1" stop-color="white" />
//-     </linearGradient>
//-     <mask id="myMask" x="0" y="0" width="100%" height="100%">
//-       <rect x="0" y="0" width="100%" height="100%" fill="url(#lgrad)" />
//-     </mask>
//-     <text x="100" y="120" text-anchor="middle" id="myText" font-size="50">Hello</text>
//-   </defs>
//-   <g mask="url(#myMask)">
//-     <use xlink:href=" #myText" transform="translate(0,-50) " fill="red " />
//-     <use xlink:href="#myText" transform="translate(0,0)" fill="green"  />
//-     <use xlink:href="#myText" transform="translate(0,50)" fill="blue" />
//-   </g>
//- </svg>